<div class="row">
  <div class="col-5"><label> Erstzulassung des Fahrzeugs im Monat</label></div>
  <div class="col-6">
      <form [formGroup]="form">
          <div formGroupName="registration">
            <div class="form-group inputDisplay" [ngClass]="{ 'has-error': (
            form.get('registration.month').invalid && 
            form.get('registration.month').touched) || (
            form.get('registration.year').invalid && 
            form.get('registration.year').touched) }">
              <input type="text" class="form-control" formControlName="month" placeholder="MM"/>.
              <input type="text" class="form-control" formControlName="year" placeholder="JJJJ"/>
      
             
            </div>
            <p *ngIf="(form.get('registration.month').invalid && form.get('registration.month').touched) || 
            (form.get('registration.year').invalid && form.get('registration.year').touched)">
              <span
                *ngIf="
                  (form.get('registration.month').errors['required'] ||
                  form.get('registration.month').errors['pattern'] ||
                  form.get('registration.year').errors['required'] ||
                  form.get('registration.year').errors['pattern']) && 
                  !form.get('registration.year').errors['max'] && 
                  !form.get('registration.year').errors['min']
                "
                >Format ungültig</span
              >
              <span *ngIf="form.get('registration.year').errors['max']">
                Das Erstzulassungsdatum darf nicht in der Zukunft liegen.
            </span>
            <span *ngIf="form.get('registration.year').errors['min']">
              Das Fahrzeug darf nicht älter als 89 Jahre sein, bitte prüfen Sie das Erstzulassungsdatum.
          </span>
          </div>
        </form>
  </div>
  <div class="col-1"><app-icon></app-icon></div>

 
</div>

<!--    class="form-group"
        [ngClass]="{
          'has-error':
            formFirstRegistration2.get('dateOfFirstRegistration.firstRegistrationMonth').invalid &&
            formFirstRegistration2.get('dateOfFirstRegistration.firstRegistrationMonth').touched
        }"

         <span *ngIf="form.get('registration.year').errors['max']"> 
    -->
