<div class="row">
  <div class="col-5"><label> Wie wurde das Fahrzeug finanziert?</label></div>
  <div class="btn-group col-6" (click)="onButtonGroupClick($event)">
    <button class="btn-sm" type="button">Barkauf</button> <button class="btn-sm" type="button">Kredit</button>
    <button class="btn-sm" type="button">Leasing</button>
  </div>
  <div class="col-1"><app-icon></app-icon></div>
  <div tooltip="tootip on right" placement="right" delay="500">tootip on right</div>
  <span tooltip="Tooltip" placement="top" show-delay="500">Tooltip on top</span>
</div>
