<div class="row">
  <div class="col-5"><label> Wie wurde das Fahrzeug finanziert?</label></div>
  <div class="col-6">
    <div [formGroup]="finInfoData">
      <div formGroupName="payment">
        <div class="form-group">
          <button class="form-control" type="button" formControlName="bBarkauf">Barkauf</button>
          <button class="form-control" type="button" formControlName="bKredit">Kredit</button>
          <button class="form-control" type="button" formControlName="bLeasing">Leasing</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"><app-icon></app-icon></div>
</div>
