<form>
  <!--
    <div class="form-group">
      <app-form-of-payment></app-form-of-payment>
    </div>
    <hr />
  
    <div class="form-group">
      <app-erstzulassung></app-erstzulassung>
    </div>
    <hr />
  
    <div class="form-group">
      <app-zulassung></app-zulassung>
    </div>
  
    <hr />
  
    <div class="form-group">
      <app-kennzeichenart></app-kennzeichenart>
    </div>
  
    <hr />
    <div class="form-group">
      <app-kennzeichen-fahrzeug></app-kennzeichen-fahrzeug>
    </div>
  -->
  <div class="form-group"><app-form-of-payment></app-form-of-payment></div>
  <div class="form-group"><app-erstzulassung></app-erstzulassung></div>
</form>
