<!--
  <div class="container">
  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>

      <span>New Component</span>
    </div>
  </div>
</div>
-->
<form>
  <div class="form-group"><app-form-of-payment></app-form-of-payment></div>
  <hr />

  <div class="form-group">
    <app-erstzulassung></app-erstzulassung>
</div>
  <hr />

  <div class="form-group row">
    <div class="col-5"><label> Zulassung auf Sie</label></div>
    <div class="col-6">
      <input type="number" min="1" max="12" placeholder="MM" /> <span>.</span> <input type="number" placeholder="JJJJ" />
    </div>
    <div class="col-1"><app-icon></app-icon></div>
  </div>

  <hr />

  <div class="form-group"><app-kennzeichenart></app-kennzeichenart></div>

  <hr />
  <div class="form-group"><app-kennzeichen-fahrzeug></app-kennzeichen-fahrzeug></div>

</form>
